# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IntelliJ specific
.idea
.idea_modules
*.iml
*.eml

# Scala-IDE specific
.scala_dependencies
.worksheet

# Other
tmp/
server.pid
*.class
*.log
.settings
/out
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
